.icon {
  &.gentleman__icon {
    background-color: $background-small-items;
    border-radius: 50%;
    color: #fff;
    width: 30px;
    height: 30px;
  }
  &.gentleman__icon--delete {
    top: 20px;
    background-color: #600;
    display: inline-flex;
    cursor: pointer;
  }
}
